.mono-text {
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 10pt;

  .dot {
    opacity: 0.4;
  }
  .dot:before {
    content: "·";
    position: absolute;
  }
}

.hide-non-print .mono-text .dot {
  opacity: 0;
}