.mono-text {
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 10pt;

  span {
    opacity: 0.4;
  }
  span:before {
    content: "·";
    position: absolute;
  }
}

.hide-non-print .mono-text span {
  opacity: 0;
}