.comments-block {
  margin-left: 16px;

  textarea.bp3-input, textarea.bp3-input.bp3-small {
    height: 32px;
    padding: 2px;
  }

  .message {
    color: #404040;
    font-size: 10pt;
    font-style: italic;
  }

  .sign {
    font-style: italic;
  }
}