@import "../../../../node_modules/@blueprintjs/core/lib/scss/variables";

.en {
  color: red;
}

.print-table {
  tr {
    border-bottom: 1px solid $gray5;
  }
  tr:last-child {
    border-bottom: none;
  }
}