@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables.scss";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "~bootstrap/dist/css/bootstrap.min.css";


body {
  background-color: $pt-app-background-color;
}

.buttons-container > * {
  margin-right: 6px;
}

.min-width {
  width: 1%;
  white-space: nowrap;
}

.max-width {
  width: 99%;
  white-space: nowrap;
}

.bp3-navbar-group .bp3-large > .bp3-tab {
  line-height: 50px;
}
