@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables.scss";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "~bootstrap/dist/css/bootstrap.min.css";


body {
  background-color: $pt-app-background-color;
}

.buttons-container > * {
  margin-right: 6px;
}

.min-width {
  width: 1%;
  white-space: nowrap;
}

.max-width {
  width: 99%;
  white-space: nowrap;
}

.bp4-navbar-group .bp4-large > .bp4-tab {
  line-height: 50px;
}

.bp4-menu-item > .bp4-fill {
  overflow: visible;
}

.bp4-navbar {
  overflow: hidden;
}

.btn-badge {
  .bp4-button-text {
    background: $red4;
    color: white;
    border-radius: 8px;
    padding: 0 4px 1px 4px;
    font-size: 8pt;
    position: relative;
    right: 13px;
    top: 8px;
    margin-right: -23px;
  }
}

.Difference {
  del {
    background-color: rgb(255, 224, 224);
    text-decoration: line-through;
  }

  ins {
    background-color: rgb(201, 238, 211);
    text-decoration: none;
  }
}
